<template name="view3">


  <!--<h2>view3!HTML</h2>-->



​​​​​​​​​​​​​​  

   <!-- <input id="m-info" type="button" class="play1" value="Click" />-->
  
  <p id="BotonJugador1">
       <input id="jugador1" class="btn btn-danger btn-circle" type="button" value="Jugador" />
      
  </p>

  <p id="Volver3">
       <input id="vuelve3js" class="btn btn-success" type="button" value="Volver" />
  </p>
  
  
       

     
  <span id="time">Time:</span>
  <span id="cronometro">0</span>
  <span id="clicks">Clicks:</span>
  <span id="cont">0</span>



</template>